//COLORS
$clr-blue-one: #170055;
$clr-blue-two: #09009b;
$clr-blue-three: #0f00ff;
$clr-purple-one: #3e065f;
$clr-purple-two: #ed50f1;
$clr-white: #fff;
$clr-black: #000;
$clr-light-blue: #a2d2ff;
$clr-yellow-one: #fbff00;
$clr-yellow-two: #f7ea00;
$clr-warm-red: #ff0000;
$clr-grey-1: #102a42;
$clr-grey-2: #423f3e;
$clr-grey-3: #536162;
$clr-brown: #630000;

// BODY
$transition: all 0.3s;
$spacing: 0.25rem;
$radius: 0.5rem;
$curser: pointer;
$transform: scale(1.02);
