@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bubblegum+Sans&family=Cabin:wght@400;500;700&family=Concert+One&family=Lalezar&family=Mansalva&family=Patua+One&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.cleafix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.section-title h1 {
  margin: 3rem 0 -1rem 0;
  font-family: Cabin;
  font-size: 2.5rem;
  font-weight: 700;
}

.section-center {
  padding: 2rem 0;
  width: 100%;
  margin: 0 auto !important;
  max-width: 1170px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.w-100 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100% !important;
  height: 87.5vh;
}

/* MEDIA */
@media only screen and (max-width: 1280px) {
  .w-100 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 85vh !important;
  }
  img.responsive {
    width: 300px;
  }
  #carouselExampleIndicators {
    margin-top: -5px;
  }
}

@media only screen and (max-width: 1024px) {
  .w-100 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 48vh !important;
  }
  img.responsive {
    width: 250px;
  }
  #carouselExampleIndicators {
    margin-top: -5px;
  }
}

@media only screen and (max-width: 420px) {
  .w-100 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 30vh !important;
  }
  img.responsive {
    width: 250px;
  }
  #carouselExampleIndicators {
    margin-top: -21px;
  }
}

.weatherwidget-io {
  margin-top: 90px;
  padding-bottom: 20px;
}

/* MEDIA */
@media only screen and (max-width: 1080px) {
  .weatherwidget-io {
    margin-top: 75px;
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.navbar {
  padding: 15px;
}

.navbar-brand {
  width: 150px !important;
  font-size: 1.5rem;
}

.navbar-brand img {
  height: 50px !important;
  float: left;
  margin-right: 7px;
}

.navbar-dark {
  background: #170055 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu .dropdown-item {
  text-transform: uppercase;
}

/* MEDIA */
@media only screen and (max-width: 1080px) {
  .navbar-brand {
    width: 150px !important;
    font-size: 2rem;
  }
  .navbar-brand img {
    height: 35px !important;
    float: left;
    margin-right: 7px;
  }
}

footer {
  color: #fff;
  background: #170055;
  text-align: center;
  padding: 2.5rem;
  position: absolute;
  width: 100% !important;
}

footer .name {
  color: #fbff00;
}

.social-icons {
  padding-bottom: 10px;
}

.social-icon {
  color: #fff;
  font-size: 2rem;
  margin: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social-icon:hover {
  color: #a2d2ff;
}

@media only screen and (max-width: 1024px) {
  footer {
    font-size: 12.5px;
  }
  .social-icon {
    font-size: 1.75rem;
    margin: 0.75rem;
  }
}

/* WELCOME SECTION */
.welcome {
  margin: 4rem 0 2rem;
}

.welcome-title {
  text-align: center;
  color: #3e065f;
  /* animation */
  -webkit-animation: slideFromLeft 5s ease-in-out 1;
          animation: slideFromLeft 5s ease-in-out 1;
}

.welcome-title h2 {
  text-transform: uppercase;
  font-family: Bebas Neue;
  font-size: 4rem !important;
  letter-spacing: 5px;
}

.welcome-title h2 .exclamation {
  color: #ff0000;
}

.intro {
  margin: 1rem 0 2rem 0;
}

.intro h3 {
  color: #536162;
  font-size: 1.4rem;
  font-family: Cabin;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.intro h3 .intro-welcome {
  font-size: 1.65rem;
  font-weight: 700;
  color: #170055;
}

.intro h3 .felipe {
  color: #170055;
}

/* T2D SECTION */
.card .card-body {
  color: #fff;
  background: #3e065f;
  border-top: solid 2px #3e065f;
}

.card .card-body:hover {
  color: #f7ea00;
}

.card .card-body .card-title {
  font-size: 2.15rem;
  font-family: Cabin;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* OTHER MEDIA */
@media screen and (max-width: 800px) {
  .welcome-title h2 {
    font-size: 3.25rem !important;
  }
  .card .card-body .card-title {
    font-size: 1.3rem;
  }
  .intro h3 {
    font-size: 1.25rem;
  }
  .intro h3 .intro-welcome {
    font-size: 1.45rem;
  }
}

.cabarete-page {
  margin-left: 2rem;
  margin-right: 2rem;
}

.cabarete-title {
  font-family: Bebas Neue;
  margin: 10rem 0 2rem 0;
  text-align: center;
  color: #3e065f;
}

.cabarete-title h1 {
  font-size: 3.5rem;
}

.cabarete-info {
  padding: 10px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.cabarete-info h2 {
  font-size: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
  color: #170055;
}

.cabarete-info h2 p {
  color: #000;
  font-size: 1.1rem;
  padding-top: 15px;
}

.cabarete-info h2 p .fa-mobile {
  color: #ff0000;
}

.cabarete-info h2 p .fa-globe {
  color: #0f00ff;
}

.cabarete-info h2 a {
  text-decoration: none;
}

.cabarete-info h2 a:hover {
  color: #ed50f1;
}

/* MEDIA */
@media screen and (max-width: 800px) {
  .cabarete-page {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .cabarete-title h1 {
    font-size: 2.75rem;
  }
}

.cuisine_2 {
  margin-top: 6rem;
}

.cuisine-title_2 {
  margin: 8rem 0 2rem 0;
  text-align: center;
  color: #3e065f;
}

.cuisine-title_2 h1 {
  font-size: 3rem;
}

.cuisine-title_3 {
  margin: 2rem 0 2rem 0;
  text-align: center;
  color: #3e065f;
}

.cuisine-title_3 h1 {
  font-size: 3rem;
}

.cuisine-info-2 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-align: center;
  padding: 10px;
}

.cuisine-info-2:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cuisine-info-2 h4 {
  font-family: Cabin;
  font-size: 1.55rem;
  font-weight: 700;
  color: #000;
  margin: 0 auto;
  padding-top: 10px;
}

.cuisine-info-2 h4 a {
  color: #000;
  text-decoration: none;
}

.cuisine-info-2 h4 a:hover {
  color: #ed50f1;
}

.cuisine-info-2 h4 .recipe {
  font-size: 1.4rem;
  line-height: 0.5;
}

.cuisine-info-2 h4 .recipe a {
  color: #ff0000;
}

.cuisine-info-2 h4 .recipe a:hover {
  color: #ed50f1;
}

/* MEDIA */
@media screen and (max-width: 800px) {
  .cuisine-page {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.culture-page {
  margin-left: 2rem;
  margin-right: 2rem;
}

.culture-title_2 {
  margin: 8rem 0 2rem 0;
  text-align: center;
  color: #3e065f;
}

.culture-title_2 h1 {
  font-size: 3rem;
}

.culture-title_3 {
  margin: 4rem 0 2rem 0;
  text-align: center;
  color: #3e065f;
}

.culture-title_3 h1 {
  font-size: 3rem;
}

.culture-info-2 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-align: center;
  padding: 10px;
}

.culture-info-2:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.culture-info-2 h4 {
  font-family: Cabin;
  font-size: 1.55rem;
  font-weight: 700;
  color: #000;
  margin: 0 auto;
  padding-top: 10px;
}

.culture-info-2 a {
  color: #000;
  text-decoration: none;
}

.culture-info-2 a:hover {
  color: #ed50f1;
}

/* MEDIA */
@media screen and (max-width: 800px) {
  .culture-page {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.ghaffar {
  margin: 5.6rem 6rem 2rem 6rem;
}

header img {
  width: 100%;
  height: 75vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.ghaffar_heading {
  margin: 3rem 6rem;
}

.ghaffar_heading .title {
  font-family: Concert One;
  text-align: center;
  font-size: 4rem;
  padding-bottom: 10px;
}

.sub {
  font-size: 1.5rem;
  font-family: Cabin;
  font-weight: 400;
  text-align: center;
}

.ghaffar_blog h3 {
  margin: 3rem 6rem 1rem 6rem;
  text-align: left;
  font-size: 1.25rem;
  font-family: Cabin;
  font-weight: 400;
  text-transform: none;
}

.ghaffar_blog h3 a {
  text-decoration: none;
  color: #09009b;
}

.ghaffar_blog h3 a:hover {
  color: #ed50f1;
}

.ghaffar_pic {
  border: 6px solid #fff;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
}

.also_cards {
  margin-bottom: 6rem;
}

.also h1 {
  margin: 1rem 6rem 1rem 6rem;
  font-size: 2rem;
  font-family: Cabin;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.also-info {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-align: center;
  padding: 10px;
}

.also-info:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.also-info h4 {
  font-family: Cabin;
  font-size: 1.75rem;
  font-weight: 700;
  color: #000;
  margin: 0 auto;
  padding-top: 10px;
}

.also-info a {
  text-decoration: none;
}

.also-info a:hover {
  color: #ed50f1;
}

.also-info a {
  text-decoration: none;
  color: #3e065f;
}

.also-info a:hover {
  color: #ed50f1;
}

/* MEDIA */
@media screen and (max-width: 1080px) {
  .ghaffar {
    margin: 4rem 1rem 2rem 1rem;
  }
  header img {
    height: 35vh;
  }
}

@media screen and (max-width: 1024px) {
  .ghaffar {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 60vh;
  }
}

@media screen and (max-width: 800px) {
  .ghaffar {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 35vh;
  }
  .ghaffar_heading {
    margin: 5rem 1.5rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .ghaffar_blog {
    margin: 1rem;
  }
  .ghaffar_blog h3 {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }
  .also-info {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .also-info h4 {
    font-size: 1.5rem;
  }
  .also h1 {
    font-size: 1.75rem;
  }
}

.sosua-page {
  margin-left: 2rem;
  margin-right: 2rem;
}

.sosua-title {
  font-family: Bebas Neue;
  margin: 10rem 0 2rem 0;
  text-align: center;
  color: #3e065f;
}

.sosua-title h1 {
  font-size: 3.5rem;
}

.sosua-info {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 10px;
}

.sosua-info h2 {
  font-size: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
  color: #170055;
}

.sosua-info h2 p {
  color: #000;
  font-size: 1.1rem;
  padding-top: 15px;
}

.sosua-info h2 p .fa-mobile {
  color: #ff0000;
}

.sosua-info h2 p .fa-globe {
  color: #0f00ff;
}

.sosua-info h2 a {
  text-decoration: none;
}

.sosua-info h2 a:hover {
  color: #ed50f1;
}

.all {
  font-size: 1.25rem;
  color: #0f00ff;
}

/* MEDIA */
@media screen and (max-width: 800px) {
  .sosua-page {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .sosua-title h1 {
    font-size: 2.75rem;
  }
}

.puerto-page {
  margin-left: 0;
  margin-right: 0;
}

.puerto-title {
  font-family: Bebas Neue;
  margin: 10rem 0 2rem 0;
  text-align: center;
  color: #3e065f;
}

.puerto-title h1 {
  font-size: 3.5rem;
  line-height: 1;
}

.puerto-info {
  padding: 10px;
}

.puerto-info:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.puerto-info h2 {
  font-size: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
  color: #170055;
}

.puerto-info h2 p {
  color: #000;
  font-size: 1rem;
  padding-top: 15px;
}

.puerto-info h2 p .fa-mobile {
  color: #ff0000;
}

.puerto-info h2 p .fa-globe {
  color: #0f00ff;
}

.puerto-info h2 a {
  text-decoration: none;
}

.puerto-info h2 a:hover {
  color: #ed50f1;
}

.all {
  font-size: 1.25rem;
  color: #0f00ff;
}

.puerto {
  margin: 2rem 0;
}

/* MEDIA */
@media screen and (max-width: 800px) {
  .puerto-page {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .puerto-title h1 {
    font-size: 3.25rem;
  }
}

.senor {
  margin: 5.6rem 6rem 2rem 6rem;
}

header img {
  width: 100%;
  height: 75vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.senor_heading {
  margin: 3rem 6rem;
}

.title {
  font-family: Staatliches;
  text-align: center;
  font-size: 4rem;
  padding-bottom: 10px;
}

.sub {
  font-size: 1.5rem;
  font-family: Cabin;
  font-weight: 400;
  text-align: center;
}

.senor_blog {
  margin: 3rem 6rem 1rem 6rem;
}

.senor_blog h3 {
  font-size: 1.25rem;
  font-family: Cabin;
  font-weight: 400;
  text-transform: none;
  text-align: left;
}

.senor_blog h3 a {
  text-decoration: none;
  color: #09009b;
}

.senor_blog h3 a:hover {
  color: #ed50f1;
}

.senor_pic {
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
}

/* MEDIA */
@media screen and (max-width: 1080px) {
  .senor {
    margin: 4rem 1rem 2rem 1rem;
  }
  header img {
    height: 35vh;
  }
}

@media screen and (max-width: 1024px) {
  .senor {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 60vh;
  }
}

@media screen and (max-width: 800px) {
  .senor {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 35vh;
  }
  .senor_heading {
    margin: 5rem 1.5rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .senor_blog {
    margin: 1rem;
  }
  .senor_blog h3 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.sancocho {
  margin: 5.6rem 6rem 2rem 6rem;
}

header img {
  width: 100%;
  height: 65vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.sancocho_heading {
  margin: 3rem 6rem;
}

.sancocho_heading .title {
  font-family: Patua One;
  text-align: center;
  font-size: 4rem;
  padding-bottom: 10px;
}

.sancocho_recipe h3 {
  margin: 3rem 12rem 1rem 12rem;
  text-align: left;
  font-size: 1.25rem;
  font-family: Cabin;
  font-weight: 400;
  text-transform: none;
}

.sancocho_recipe h3 a {
  text-decoration: none;
  color: #09009b;
}

.sancocho_recipe h3 a:hover {
  color: #ed50f1;
}

.sancocho_recipe h3 ol > li::marker {
  font-weight: 700;
  color: #0f00ff;
}

.sancocho_recipe h3 li {
  margin-left: 3rem;
}

.instructions_2 {
  font-size: 2rem;
  color: #ff0000;
  text-align: center;
}

.fa-star {
  color: #3e065f;
}

/* MEDIA */
@media screen and (max-width: 1080px) {
  .sancocho {
    margin: 4rem 1rem 2rem 1rem;
  }
  header img {
    height: 35vh;
  }
}

@media screen and (max-width: 1024px) {
  .sancocho {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 60vh;
  }
}

@media screen and (max-width: 800px) {
  .sancocho {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 35vh;
  }
  .sancocho_heading {
    margin: 5rem 1.5rem;
  }
  .sancocho_heading .title {
    font-size: 3.5rem;
  }
  .sancocho_recipe {
    margin: 1rem;
  }
  .sancocho_recipe h3 {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }
}

.golf-info {
  padding: 10px;
}

.golf-info:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.golf-info h2 {
  font-size: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
  color: #170055;
}

.golf-info h2 p {
  color: #000;
  font-size: 1.25rem;
  padding-top: 15px;
  text-transform: none;
}

.golf-info h2 p .fa-mobile {
  color: #ff0000;
}

.golf-info h2 p .fa-globe {
  color: #0f00ff;
}

.golf-info h2 a {
  text-decoration: none;
}

.golf-info h2 a:hover {
  color: #ed50f1;
}

.email {
  font-size: 1rem;
}

.tours-info {
  padding: 10px;
}

.tours-info:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tours-info h2 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
  color: #170055;
}

.tours-info h2 p {
  color: #000;
  font-size: 1.05rem;
  padding-top: 15px;
}

.tours-info h2 p .fa-mobile {
  color: #ff0000;
}

.tours-info h2 p .fa-globe {
  color: #0f00ff;
}

.tours-info h2 a {
  text-decoration: none;
}

.tours-info h2 a:hover {
  color: #ed50f1;
}

.majarete {
  margin: 5.6rem 6rem 2rem 6rem;
}

header img {
  width: 100%;
  height: 80vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.majarete_heading {
  margin: 3rem 0;
}

.majarete_heading h1 {
  font-size: 5.25rem;
  line-height: 0.8;
  text-align: center;
}

.majarete_heading h1 .title {
  font-family: Lalezar;
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.majarete_heading h1 .Dominicano {
  font-size: 4.4rem !important;
}

.about {
  margin-top: 5rem;
}

.about_2 {
  background: #630000;
}

.about_2 h4 {
  color: #fff;
}

.pudding {
  border: 4px solid #fff;
  width: 210px;
  -webkit-filter: drop-shadow(4px 4px 2px #383837);
          filter: drop-shadow(4px 4px 2px #383837);
}

.majarete_recipe h3 {
  margin: 3rem 12rem 1rem 12rem;
  text-align: left;
  font-size: 1.25rem;
  font-family: Cabin;
  font-weight: 400;
  text-transform: none;
}

.majarete_recipe h3 a {
  text-decoration: none;
  color: #09009b;
}

.majarete_recipe h3 a:hover {
  color: #ed50f1;
}

.majarete_recipe h3 ol > li::marker {
  font-weight: 700;
  color: #0f00ff;
}

.majarete_recipe h3 li {
  margin-left: 3rem;
}

p .instructions_2 {
  font-size: 2rem;
  color: #630000;
  text-align: center;
}

.fa-star {
  color: #3e065f;
  line-height: 2.5;
}

/* MEDIA */
@media screen and (max-width: 1080px) {
  .sancocho {
    margin: 4rem 1rem 2rem 1rem;
  }
  header img {
    height: 35vh;
  }
}

@media screen and (max-width: 1024px) {
  .majarete {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 60vh;
  }
}

@media screen and (max-width: 800px) {
  .majarete {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 35vh;
  }
  .sancocho_heading {
    margin: 5rem 1.5rem;
  }
  .sancocho_heading .title {
    font-size: 3.5rem;
  }
  .majarete_recipe {
    margin: 1rem;
  }
  .majarete_recipe h3 {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }
}

.card {
  padding: 10px;
}

.video {
  color: #3e065f !important;
  font-size: 1.65rem;
  font-family: Cabin;
  font-weight: 700;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.header {
  margin-top: 4.5rem;
  padding-bottom: 20px;
}

.social2 {
  max-width: 100%;
}

.blog {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0px 10px 0px;
}

.blog h3 {
  font-family: Cabin;
}

.blog h3 p {
  font-size: 1.4rem !important;
}

.blog h1 {
  font-family: Bubblegum Sans;
  font-size: 3rem;
}

.blog .dish {
  font-family: Mansalva;
  font-size: 3.25rem;
}

.blog .plan {
  border: 5px solid #fff;
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
}

.blog a {
  text-decoration: none;
}

.text {
  font-size: 1.2rem;
}

.text2 {
  font-size: 1.6rem;
}

.text3 {
  font-size: 1.4rem;
}

.umbrella {
  margin-bottom: 5rem;
}

@media screen and (max-width: 800px) {
  .blog {
    margin: 0 12.5px;
  }
  .text {
    font-size: 1rem;
  }
  .text2 {
    font-size: 1.3rem;
  }
  .text3 {
    font-size: 1.3rem;
  }
}

.dot {
  height: 50px;
  width: 50px;
  color: #fff;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 2.5rem;
}

.row1 {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  background: url("/images/watermelon-background_2.jpg") no-repeat;
  background-size: cover;
}

.row2 {
  margin: 30px 60px;
}
/*# sourceMappingURL=main.css.map */