@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@400;500;700&family=Concert+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.cleafix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.section-title h1 {
  margin: 3rem 0 -1rem 0;
  font-family: Cabin;
  font-size: 2.5rem;
  font-weight: 700;
}

.section-center {
  padding: 2rem 0;
  width: 100%;
  margin: 0 auto !important;
  max-width: 1170px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.w-100 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100% !important;
  height: 87.5vh;
}

/* MEDIA */
@media only screen and (max-width: 1280px) {
  .w-100 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 85vh !important;
  }
  img.responsive {
    width: 300px;
  }
  #carouselExampleIndicators {
    margin-top: -5px;
  }
}

@media only screen and (max-width: 1024px) {
  .w-100 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 48vh !important;
  }
  img.responsive {
    width: 250px;
  }
  #carouselExampleIndicators {
    margin-top: -5px;
  }
}

@media only screen and (max-width: 420px) {
  .w-100 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 30vh !important;
  }
  img.responsive {
    width: 250px;
  }
  #carouselExampleIndicators {
    margin-top: -21px;
  }
}

.weatherwidget-io {
  margin-top: 90px;
  padding-bottom: 20px;
}

/* MEDIA */
@media only screen and (max-width: 1080px) {
  .weatherwidget-io {
    margin-top: 75px;
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.navbar {
  padding: 15px;
}

.navbar-brand {
  width: 150px !important;
  font-size: 1.5rem;
}

.navbar-brand img {
  height: 50px !important;
  float: left;
  margin-right: 7px;
}

.navbar-dark {
  background: #170055 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu .dropdown-item {
  text-transform: uppercase;
}

/* MEDIA */
@media only screen and (max-width: 1080px) {
  .navbar-brand {
    width: 150px !important;
    font-size: 2rem;
  }
  .navbar-brand img {
    height: 35px !important;
    float: left;
    margin-right: 7px;
  }
}

footer {
  color: #fff;
  background: #170055;
  text-align: center;
  padding: 2.5rem;
  width: 100%;
}

footer .name {
  color: #fbff00;
}

.social-icons {
  padding-bottom: 10px;
}

.social-icon {
  color: #fff;
  font-size: 2rem;
  margin: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social-icon:hover {
  color: #a2d2ff;
}

@media only screen and (max-width: 1024px) {
  footer {
    font-size: 12.5px;
  }
  .social-icon {
    font-size: 1.75rem;
    margin: 0.75rem;
  }
}

/* WELCOME SECTION */
.welcome {
  margin: 4rem 2rem 0 2rem;
}

.welcome-title {
  text-align: center;
  color: #3e065f;
  /* animation */
  -webkit-animation: slideFromLeft 5s ease-in-out 1;
          animation: slideFromLeft 5s ease-in-out 1;
}

.welcome-title h2 {
  text-transform: uppercase;
  font-family: Bebas Neue;
  font-size: 4rem;
  letter-spacing: 5px;
}

.welcome-title h2 .exclamation {
  color: #ff0000;
}

.intro {
  margin: 1rem 0 2rem 0;
}

.intro h3 {
  color: #536162;
  font-size: 1.4rem;
  font-family: Cabin;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.intro h3 .intro-welcome {
  font-size: 1.65rem;
  font-weight: 700;
  color: #170055;
}

.intro h3 .felipe {
  color: #170055;
}

/* CULTURE SECTION */
.culture {
  margin-bottom: -4rem;
}

.culture-card img {
  width: 100%;
  display: block;
}

.culture-title {
  text-align: center;
  color: #3e065f;
}

.culture-card {
  margin: 0 0 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.culture-card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.culture-img {
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.culture-info {
  text-align: center;
  padding: 1rem;
}

.culture-info h4 {
  max-width: 20rem;
  font-family: Cabin;
  font-size: 1.75rem;
  font-weight: 700;
  color: #000;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .culture-card {
    float: left;
    width: 45%;
    margin-right: 5%;
    /* 100% 45% 90% 5% */
  }
}

@media screen and (min-width: 992px) {
  .culture-card {
    width: 30%;
    margin: 1.66%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* 100% 30% 3.333% */
  }
}

.culture-img-container {
  position: relative;
}

/* CUISINE SECTION */
.cuisine-card img {
  width: 100%;
  display: block;
}

.cuisine-title {
  text-align: center;
  color: #3e065f;
}

.cuisine-card {
  margin: 0 0 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cuisine-card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.cuisine-img {
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.cuisine-info {
  text-align: center;
  padding: 1rem;
}

.cuisine-info h4 {
  max-width: 20rem;
  font-family: Cabin;
  font-size: 1.75rem;
  font-weight: 700;
  color: #000;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .cuisine-card {
    float: left;
    width: 45%;
    margin-right: 5%;
    /* 100% 45% 90% 5% */
  }
}

@media screen and (min-width: 992px) {
  .cuisine-card {
    width: 30%;
    margin: 1.66%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* 100% 30% 3.333% */
  }
}

.cuisine-img-container {
  position: relative;
}

/* T2D SECTION */
.card-deck {
  margin-right: 4rem;
  margin-left: 4rem;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.card-deck .card {
  border-radius: 0 !important;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-deck .card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.card-deck .card .card-body .card-title {
  font-size: 3rem;
  font-family: Cabin;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.dine {
  color: #fff;
  background: #09009b;
}

.dine:hover {
  color: #f7ea00;
}

.explore {
  color: #fff;
  background: #ff0000;
}

.explore:hover {
  color: #f7ea00;
}

.relax {
  color: #fff;
  background: #0f00ff;
}

.relax:hover {
  color: #f7ea00;
}

.shop {
  color: #fff;
  background: #3e065f;
}

.shop:hover {
  color: #f7ea00;
}

/* OTHER MEDIA */
@media screen and (min-width: 300px) {
  .welcome-title h2 {
    font-size: 3.15rem;
  }
  .intro h3 {
    font-size: 1.25rem;
  }
  .intro h3 .intro-welcome {
    font-size: 1.45rem;
  }
  .section-title h1 {
    font-family: Cabin;
    font-size: 2.25rem;
    font-weight: 700;
  }
  .culture-info h4 {
    font-size: 1.6rem;
    padding: 0.4rem;
  }
  .cuisine-info h4 {
    font-size: 1.6rem;
    padding: 0.4rem;
  }
}

@media screen and (min-width: 320px) {
  .card-deck {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .card-deck .card .card-body .card-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .card-deck {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .card-deck .card .card-body .card-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1260px) {
  .card-deck {
    margin-right: 4.5rem;
    margin-left: 4.5rem;
  }
  .card-deck .card .card-body .card-title {
    font-size: 2.5rem;
  }
}

.cuisine_2 {
  margin-top: 6rem;
}

.cuisine-title_2 {
  margin-bottom: 2rem;
  text-align: center;
  color: #3e065f;
}

.cuisine-title_2 h1 {
  font-size: 3rem;
}

.majarete {
  color: #3e065f;
  background: #fff;
}

.card a {
  text-decoration: none;
  color: #ff0000;
}

.card a:hover {
  color: #ed50f1;
}

.majarete_2 {
  font-size: 1.5rem;
  line-height: 0.75;
}

.majarete_3 {
  font-size: 2rem;
  line-height: 1.25;
}

.recipe {
  font-size: 1.75rem;
  line-height: 0.5;
  color: #ff0000;
}

.recipe:hover {
  color: #ed50f1;
}

.culture-page {
  margin-left: 2rem;
  margin-right: 2rem;
}

.culture-title_2 {
  margin: 8rem 0 2rem 0;
  text-align: center;
  color: #3e065f;
}

.culture-title_2 h1 {
  font-size: 3rem;
}

.culture-info-2 {
  text-align: center;
  padding: 10px;
}

.culture-info-2 h4 {
  font-family: Cabin;
  font-size: 1.55rem;
  font-weight: 700;
  color: #000;
  margin: 0 auto;
  padding-top: 10px;
}

.culture-info-2 a {
  color: #000;
}

/* MEDIA */
@media screen and (max-width: 800px) {
  .culture-page {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.ghaffar {
  margin: 5.6rem 6rem 2rem 6rem;
}

header img {
  width: 100%;
  height: 75vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.ghaffar_heading {
  margin: 3rem 6rem;
}

.title {
  font-family: Concert One;
  text-align: center;
  font-size: 4rem;
  padding-bottom: 10px;
}

.sub {
  font-size: 1.5rem;
  font-family: Cabin;
  font-weight: 400;
  text-align: center;
}

.ghaffar_blog h3 {
  margin: 3rem 6rem 1rem 6rem;
  text-align: left;
  font-size: 1.25rem;
  font-family: Cabin;
  font-weight: 400;
  text-transform: none;
}

.ghaffar_pic {
  border: 4px solid #fff;
}

.also_cards {
  margin-bottom: 6rem;
}

.also h1 {
  margin: 1rem 6rem 1rem 6rem;
  font-size: 2rem;
  font-family: Cabin;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.also-info {
  text-align: center;
  padding: 10px;
}

.also-info h4 {
  font-family: Cabin;
  font-size: 1.75rem;
  font-weight: 700;
  color: #000;
  margin: 0 auto;
  padding-top: 10px;
}

.also-info a {
  color: #000;
}

/* MEDIA */
@media screen and (max-width: 1080px) {
  .ghaffar {
    margin: 4rem 1rem 2rem 1rem;
  }
  header img {
    height: 35vh;
  }
}

@media screen and (max-width: 1024px) {
  .ghaffar {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 60vh;
  }
}

@media screen and (max-width: 800px) {
  .ghaffar {
    margin: 4rem 0 2rem 0;
  }
  header img {
    height: 35vh;
  }
  .ghaffar_heading {
    margin: 5rem 1.5rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .ghaffar_blog {
    margin: 1rem;
  }
  .ghaffar_blog h3 {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }
  .also-info {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .also-info h4 {
    font-size: 1.5rem;
  }
  .also h1 {
    font-size: 1.75rem;
  }
}
/*# sourceMappingURL=main.css.map */