@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bubblegum+Sans&family=Cabin:wght@400;500;700&family=Concert+One&family=Lalezar&family=Mansalva&family=Patua+One&family=Staatliches&display=swap");

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  //letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
