.cuisine_2 {
  margin-top: 6rem;
}

.cuisine-title_2 {
  margin: 8rem 0 2rem 0;
  text-align: center;
  color: $clr-purple-one;
  & h1 {
    font-size: 3rem;
  }
}

.cuisine-info-2 {
  box-shadow: none !important;
  text-align: center;
  padding: 10px;

  &:hover {
    cursor: $curser;
    transform: $transform;
    transition: $transition;
  }

  & h4 {
    font-family: Cabin;
    font-size: 1.55rem;
    font-weight: 700;
    color: $clr-black;
    margin: 0 auto;
    padding-top: 10px;

    & a {
      color: $clr-black;
      text-decoration: none;
      &:hover {
        color: $clr-purple-two;
      }
    }
    & .recipe {
      font-size: 1.4rem;
      line-height: 0.5;
      & a {
        color: $clr-warm-red;
        &:hover {
          color: $clr-purple-two;
        }
      }
    }
  }
}

/* MEDIA */

@media screen and (max-width: 800px) {
  .cuisine-page {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
