.golf-info {
  padding: 10px;
  &:hover {
    cursor: $curser;
    transform: $transform;
    transition: $transition;
  }
  & h2 {
    font-size: 1.875rem;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
    color: $clr-blue-one;
    & p {
      color: $clr-black;
      font-size: 1.25rem;
      padding-top: 15px;
      & .fa-mobile {
        color: $clr-warm-red;
      }
      & .fa-globe {
        color: $clr-blue-three;
      }
    }
    & a {
      text-decoration: none;
      &:hover {
        color: $clr-purple-two;
      }
    }
  }
}
