/* WELCOME SECTION */
.welcome {
  margin: 4rem 0 2rem;
}

.welcome-title {
  text-align: center;
  color: $clr-purple-one;
  /* animation */
  animation: slideFromLeft 5s ease-in-out 1;

  & h2 {
    text-transform: uppercase;
    font-family: Bebas Neue;
    font-size: 4rem !important;
    letter-spacing: 5px;

    & .exclamation {
      color: $clr-warm-red;
    }
  }
}

.intro {
  margin: 1rem 0 2rem 0;

  h3 {
    color: $clr-grey-3;
    font-size: 1.4rem;
    font-family: Cabin;
    font-weight: 400;
    text-align: left;
    text-transform: none;

    .intro-welcome {
      font-size: 1.65rem;
      font-weight: 700;
      color: $clr-blue-one;
    }

    .felipe {
      color: $clr-blue-one;
    }
  }
}

/* T2D SECTION */

.card {
  .card-body {
    color: $clr-white;
    background: $clr-purple-one;
    border-top: solid 2px $clr-purple-one;
    &:hover {
      color: $clr-yellow-two;
    }

    .card-title {
      font-size: 2.15rem;
      font-family: Cabin;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

/* OTHER MEDIA */
@media screen and (max-width: 800px) {
  .welcome-title {
    h2 {
      font-size: 3.25rem !important;
    }
  }

  .card {
    .card-body {
      .card-title {
        font-size: 1.3rem;
      }
    }
  }

  .intro {
    h3 {
      font-size: 1.25rem;

      .intro-welcome {
        font-size: 1.45rem;
      }
    }
  }
}
