.puerto-page {
  margin-left: 0;
  margin-right: 0;
}

.puerto-title {
  font-family: Bebas Neue;
  margin: 10rem 0 2rem 0;
  text-align: center;
  color: $clr-purple-one;
  & h1 {
    font-size: 3.5rem;
    line-height: 1;
  }
}

.puerto-info {
  padding: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  & h2 {
    font-size: 1.875rem;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
    color: $clr-blue-one;
    & p {
      color: $clr-black;
      font-size: 0.8rem;
      padding-top: 15px;
      & .fa-mobile {
        color: $clr-warm-red;
      }
      & .fa-globe {
        color: $clr-blue-three;
      }
    }
  }
}

.all {
  font-size: 1.25rem;
  color: $clr-blue-three;
}

.puerto {
  margin: 2rem 0;
}

/* MEDIA */

@media screen and (max-width: 800px) {
  .puerto-page {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .puerto-title {
    & h1 {
      font-size: 3.25rem;
    }
  }
}
