.sosua-page {
  margin-left: 2rem;
  margin-right: 2rem;
}

.sosua-title {
  font-family: Bebas Neue;
  margin: 10rem 0 2rem 0;
  text-align: center;
  color: $clr-purple-one;
  & h1 {
    font-size: 3.5rem;
  }
}

.sosua-info {
  padding: 10px;
  & h2 {
    font-size: 1.875rem;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
    color: $clr-blue-one;
    & p {
      color: $clr-black;
      font-size: 1.1rem;
      padding-top: 15px;
      & .fa-mobile {
        color: $clr-warm-red;
      }
      & .fa-globe {
        color: $clr-blue-three;
      }
    }
  }
}

.all {
  font-size: 1.25rem;
  color: $clr-blue-three;
}

/* MEDIA */

@media screen and (max-width: 800px) {
  .sosua-page {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .sosua-title {
    & h1 {
      font-size: 2.75rem;
    }
  }
}
