.card {
  padding: 10px;
}

.video {
  color: $clr-purple-one !important;
  font-size: 1.65rem;
  font-family: Cabin;
  font-weight: 700;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
